@import "mixins";

.footer {
  padding: 2rem;
  border-top: 1px solid #000;

  @media (max-width:42em) {
    padding: 2rem 0;
  }

  @media (max-width:63em) {
    padding: 2rem;
  }

  &__inner {
    @include display-flex();

    @media (max-width:42em) {
      flex-wrap: wrap;
      -ms-flex-wrap: wrap;
		
      @include flex-direction-column ();
    }
  }

  &__col {
    vertical-align: top;
    margin: 0 5%;

    @media (max-width:42em) {
      text-align: center;
      margin: 0 0 5%;
    }

    @media (max-width:63em) {
      margin: 0 0 5%;
    }
  }

  &__list-item {
    list-style: none;
    padding-bottom: 10px;

    a {
      margin: 0 1.2rem;
      margin-left: 0;
      font-family: "Roboto", sans-serif;
      font-size: .9rem;

      @media (max-width:42em) {
        margin: 0;
      }

      &:hover {
        font-style: italic;
      }
    }
  }

  &__header:after {
    content: "";
    width: 58px;
    clear: left;
    display: block;
    border-top: 1px solid #000;
    margin: 7px 0;
  
    @media (max-width:42em) {
      width: 100%;
    }
  }

  &__col-small {
    width: 146px;

    @media (max-width:42em) {
      width: 100%;
    }
  }

  &__right-col {
    @include display-flex();
  
    @include flex-direction-column ();

    @media (max-width:42em) {
      -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
      order: -1;

      @include flex-align-center ();
    }

    .signup-form {
      width: 373px;
      margin-bottom: 40px;
    
      @media (max-width: 42em) {
        width: 100%;
      }

      &__input[type=text] {
        width: 270px;
        min-width: 180px;
        padding: 15px;
        display: inline-block;
        border: 0;
        background: #f1f1f1;
    
        @media (max-width:42em) {
          width: 229px;
        }

        &:focus {
          outline-style: none;
        }
      }

      &__btn {
        width: 94px;
        display: inline-block;
        padding: 12px;
        background-color: #000;
        border: 0;
        color: #fff;
        text-align: center;
        text-decoration: none;
        font-size: .9rem;
        margin: 4px 2px;
        cursor: pointer;
        outline: none;
    
        @media (max-width:42em) {
          width: 79px;
        }

        &:active {
          color: #000;
        }
      }
    }
  
    .social {
      width: 146px;

      @media (max-width:42em) {
        width: 100%;
      }

      &__list-item {
        display: inline-block;
      }
    
      a {
        font-size: 1.4rem;
        margin-right: 25px;

        @media (max-width: 42em) {
          font-size: 1.8rem;
          padding: 0 15px;
          margin: 0;
        }
      }
    }
  }
}
