@import "mixins";

nav {
  padding: 0 2rem;
  background-color: #ffffff;
  border-bottom: 1px solid #000;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;

  @include display-flex();

  @include flex-align-center ();

  li {
    display: inline-block;
    list-style: none;
    padding: 1rem 0;

    a {
      margin: 0 1.2rem;
      margin-left: 0;
      font-family: "Roboto", sans-serif;
      font-size: 1.2rem;

      &:hover {
        font-style: italic;
      }
    }
  }	
}

.top_left_nav {
  width: 70%;

  @media (max-width:42em) {
    display: none;
  }

  .submenu {
    display: none;
    position: absolute;
    width: 100%;
    height: 300px;
    top: 56px;
    left: 0px;
    background-color: #fff;
    padding: 1rem 1rem 2rem 2rem;

    &_col {
      min-width: 153px;
      padding-right: 10px;

      &_title {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1rem;
        line-height: 2rem;
      }
      
      li {
        display: block;
        padding: 0;

        a {
          font-size: .9rem;
          line-height: 1.3rem;
        }
      }
    }
  }

  &_item:hover .submenu {
    display: flex;
  }
}

.top_user_nav {
  text-align: right;
  width: 30%;

  @media (max-width:42em) {
    width: 80%;
  }

  li a {
    margin: 0;
    margin-left: 30px;
    font-size: 1rem;
  }
}

.mobile_nav_button {
  font-size: 1.3rem;
  display: none;
  width: 20%;

  @media (max-width:42em) {
    display: block;
  }
}