@import "common/mixins";

@import "common/constants";

@import "components/navigation";

@import "components/main";

@import "components/footer";

* {
  padding: 0;
  margin: 0;

  @include border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: $fontRoboto;
}

a {
  text-decoration: none;
  color: $fontColorBlack;
}

h1 {
  font-family: $fontMontserrat;
  font-size: 2.6rem;
  padding: .8rem 2rem;

  @media (max-width: $breakpointTablet) {
    font-size: 1.8rem;
  }
}

h1 span {
  margin-left: 7px;
}

h3 {
  font-size: 1em;
  font-weight: 400;
  padding-bottom: 1rem;
}

p {
  padding-bottom: 1rem;
  font-size: .9rem;
  line-height: 1.35rem;
}

::-moz-selection {
  background: #ffefa0;
}

::selection {
  background: #ffefa0;
}

header {
  border-bottom: $borderWidth #000;

  .header__logo {
    @include text-align-center;
  }
}

select {
  position: relative;
  width: $fullWidthComponent;
  padding: 7px;
  background-color: transparent;
  font-size: .8rem;
  border-radius: 0;
  z-index: 20;
  -webkit-appearance: none;
  outline: none;
  font-family: $fontRoboto;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}
