@import 'mixins';
footer {
	padding: 2rem;
	border-top:1px solid #000;

	@media (max-width:42em) {
		padding:2rem 0;
	}

	@media (max-width:63em) {
		padding:2rem;
	}

	.footer_inner {
		@include display-flex();

		@media (max-width:42em) {
			@include flex-direction-column ();
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
		}

	    & > div {
			vertical-align: top;
			margin: 0 5%;

			@media (max-width:42em) {
				text-align:center;
				margin: 0 0 5%;
			}

			@media (max-width:63em) {
				margin:0 0 5%;
			}
		}
	}
	ul li {
		list-style:none;
		padding-bottom:10px;

		a {
			margin:0 1.2rem;
			margin-left:0;
			font-family: 'Roboto', sans-serif;
			font-size:.9rem;

			@media (max-width:42em) {
				margin:0;
			}

			&:hover {
				font-style:italic;
			}
		}
	}
	div h3:after {
		content: "";
	    width: 58px;
	    clear: left;
	    display: block;
	    border-top: 1px solid #000;
		margin: 7px 0;
		
		@media (max-width:42em) {
			width:100%;
		}
	}

	.footer-col-small {
		width:146px;

		@media (max-width:42em) {
			width:100%;
		}
	}
	.footer_right_col {
		@include display-flex();
		@include flex-direction-column ();

		@media (max-width:42em) {
			@include flex-align-center ();
			-webkit-box-ordinal-group:0;
			-ms-flex-order:-1;
			order:-1;
		}

		.sign_up_form {
			width: 373px;
			margin-bottom: 40px;
			
			@media (max-width:42em) {
				width:100%;
			}

		    input[type=text] {
			    width: 270px;
			    min-width: 180px;
			    padding: 15px;
			    display: inline-block;
			    border: none;
				background: #f1f1f1;
				
				@media (max-width:42em) {
					width: 229px;
				}

			    &:focus {
					outline-style: none;
				}
			}

		    &_btn {
				width:94px;
				display:inline-block;
				padding: 12px;
				background-color: #000;
			    border: none;
			    color: #fff;
			    text-align: center;
			    text-decoration: none;
			    font-size: .9rem;
			    margin: 4px 2px;
			    cursor: pointer;
				outline: none;
				
				@media (max-width:42em) {
					width: 79px;
				}

			    &:active {
					color:#000;
				}
			}
		}
		.social {
			width:146px;

			@media (max-width:42em) {
				width: 100%;
			}

			ul li {
				display:inline-block;

				a {
					font-size:1.4rem;
					margin-right:25px;

					@media (max-width:42em) {
						font-size: 1.8rem;
						padding: 0 15px;
						margin:0;
					}
				}
			}
		}
	}
}