* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.6rem;
  padding: 0.8rem 2rem;
}

h1 span {
  margin-left: 7px;
}

h3 {
  font-size: 1em;
  font-weight: 400;
  padding-bottom: 1rem;
}

p {
  padding-bottom: 1rem;
  font-size: 0.9rem;
  line-height: 1.35rem;
}

::-moz-selection {
  background: #ffefa0;
}

::selection {
  background: #ffefa0;
}

header {
  border-bottom: 1px solid #000;
}
header .header-logo {
  text-align: center;
}

nav {
  padding: 1rem 2rem;
  background-color: #ffffff;
  border-bottom: 1px solid #000;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}
nav li {
  display: inline-block;
  list-style: none;
}
nav li a {
  margin: 0 1.2rem;
  margin-left: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
}
nav li a:hover {
  font-style: italic;
}

.top_left_nav {
  width: 70%;
}

.top_user_nav {
  text-align: right;
  width: 30%;
}
.top_user_nav li a {
  margin: 0;
  margin-left: 30px;
  font-size: 1rem;
}

.mobile_nav_button {
  font-size: 1.3rem;
  display: none;
  width: 20%;
}

select {
  width: 100%;
  padding: 7px;
  background-color: transparent;
  font-size: 0.8rem;
  border-radius: 0;
  z-index: 1;
  -webkit-appearance: none;
  outline: none;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}
select:focus {
  outline: none;
}

main {
  margin-top: 40px;
}

.product_row {
  width: 100%;
  padding: 0 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.product_row .product_row-container {
  width: 100%;
  max-width: 1250px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product_img {
  width: 50%;
}

.product-img-container {
  overflow: hidden;
  width: 100%;
  margin: auto;
}

.product-img-center {
  max-width: 480px;
}

.product-img {
  text-align: center;
  padding-bottom: 40px;
}
.product-img img {
  width: 100%;
}

.zoom img:hover {
  cursor: url(images/zoom_in.png), auto;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}

.product_specs {
  width: 485px;
  padding: 0 5% 40px;
  margin: auto;
}
.product_specs .product-text {
  width: 100%;
  max-width: 480px;
  margin: auto;
}
.product_specs .product-text .product-brand {
  font-weight: 700;
  font-size: 2.3rem;
  padding-bottom: 0.3em;
}
.product_specs .product-text .product-brand :hover {
  font-style: italic;
}
.product_specs .product-text .product-title {
  font-size: 1.2rem;
  line-height: 1.5rem;
  padding-bottom: 1rem;
}
.product_specs .product-text .product-price {
  font-weight: 700;
  font-size: 1.2rem;
}
.product_specs .product-text .product_shop {
  position: relative;
  padding-top: 15px;
}
.product_specs .product-text .product_shop .select-float {
  float: left;
  margin-right: 11px;
}
.product_specs .product-text .product_shop .select-float .title-select {
  margin: 15px 0;
}
.product_specs .product-text .product_shop .select-float .title-select h3 {
  padding-bottom: 0;
}
.product_specs .product-text .product_shop .select-float .product-select {
  min-width: 101px;
  position: relative;
}
.product_specs .product-text .product_shop .select-float .product-select:after {
  content: "";
  position: absolute;
  right: 6px;
  top: 12px;
  z-index: -1;
  width: 0;
  height: 100%;
  border-left: solid 5px transparent;
  border-right: solid 5px transparent;
  border-bottom: solid 1px transparent;
  border-top: solid 5px #656565;
}
.product_specs .product-text .product_shop .spacer {
  clear: both;
}
.product_specs .product-text .product_shop .add-to-bag {
  width: 100%;
  max-width: 207px;
  margin-top: 20px;
}
.product_specs .product-text .product_shop .add-to-bag .add_to_bag_button {
  background-color: #000;
  border: none;
  width: 100%;
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 0.9rem;
  margin: 4px 2px;
  cursor: pointer;
  outline: none;
}
.product_specs .product-text .product_shop .add-to-bag .add_to_bag_button:active {
  color: #000;
}

.full {
  padding: 0 0 40px;
}
.full .product_img_large-container {
  width: 100%;
  overflow: hidden;
}
.full .product_img_large img {
  width: 100%;
}

.description h2 {
  font-weight: 700;
}
.description ul li {
  list-style: none;
  font-size: 0.9rem;
  line-height: 1.35rem;
}

.center {
  width: 100%;
  text-align: center;
}

footer {
  padding: 2rem;
  border-top: 1px solid #000;
}
footer .footer_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .footer_inner > div {
  vertical-align: top;
  margin: 0 5%;
}
footer ul li {
  list-style: none;
  padding-bottom: 10px;
}
footer ul li a {
  margin: 0 1.2rem;
  margin-left: 0;
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
}
footer ul li a:hover {
  font-style: italic;
}
footer div h3:after {
  content: "";
  width: 58px;
  clear: left;
  display: block;
  border-top: 1px solid #000;
  margin: 7px 0;
}
footer .footer-col-small {
  width: 146px;
}
footer .footer_right_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
}
footer .footer_right_col .sign_up_form {
  width: 373px;
  margin-bottom: 40px;
}
footer .footer_right_col .sign_up_form input[type=text] {
  width: 270px;
  min-width: 180px;
  padding: 15px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
footer .footer_right_col .sign_up_form input[type=text]:focus {
  outline-style: none;
}
footer .footer_right_col .sign_up_form .sign_up_form_btn {
  width: 94px;
  display: inline-block;
  padding: 12px;
  background-color: #000;
  border: none;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 0.9rem;
  margin: 4px 2px;
  cursor: pointer;
  outline: none;
}
footer .footer_right_col .sign_up_form .sign_up_form_btn:active {
  color: #000;
}
footer .footer_right_col .social {
  width: 146px;
}
footer .footer_right_col .social ul li {
  display: inline-block;
}
footer .footer_right_col .social ul li a {
  font-size: 1.4rem;
  margin-right: 25px;
}

/* ----- MEDIA QUERIES ------ */
@media (max-width: 42em) {
  h1 {
    font-size: 1.8rem;
  }

  .mobile_nav_button {
    display: block;
  }

  .top_left_nav {
    display: none;
  }

  .top_user_nav {
    width: 80%;
  }

  .product_img, .product_specs {
    width: 100%;
  }

  .select-float {
    float: none;
  }

  footer {
    padding: 2rem 0;
  }
  footer div h3:after {
    width: 100%;
  }
  footer ul li a {
    margin: 0;
  }
  footer .footer_inner {
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  footer .footer_inner > div {
    text-align: center;
    margin: 0 0 5%;
  }
  footer .footer_inner .footer-col-small {
    width: 100%;
  }
  footer .footer_inner .footer_right_col {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }
  footer .footer_inner .footer_right_col .sign_up_form {
    width: 100%;
  }
  footer .footer_inner .footer_right_col .sign_up_form input[type=text] {
    width: 229px;
  }
  footer .footer_inner .footer_right_col .sign_up_form .sign_up_form_btn {
    width: 79px;
  }
  footer .footer_inner .footer_right_col .social {
    width: 100%;
  }
  footer .footer_inner .footer_right_col .social ul li a {
    font-size: 1.8rem;
    padding: 0 15px;
    margin: 0;
  }
  footer .footer_inner .footer_right_col .social h3 {
    display: none;
  }
}
@media (max-width: 63em) {
  .product_row {
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .product_row .product_row-container {
    width: 100%;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .product_img {
    width: 100%;
  }

  .product_specs {
    width: 100%;
    padding: 0 0 40px;
  }

  footer {
    padding: 2rem;
  }
  footer .footer_inner > div {
    margin: 0 0 5%;
  }
}
@media (max-width: 90em) and (min-width: 61.3125em) {
  .product_row-container {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
