@import "../common/mixins", "../common/constants";

.footer {
  padding: 2rem 0;
  border-top: 1px solid #000;

  @media (min-width: $breakpointTablet) {
    padding: 2rem;
  }

  &__inner {
    @include display-flex;

    @include flex-wrap;
		
    @include flex-direction-column;

    @media (min-width:$breakpointTablet) {
      @include flex-direction-row;
    }
  }

  &__col {
    vertical-align: top;
    text-align: center;
    margin: 0 0 5%;

    @media (min-width: $breakpointTablet) {
      text-align: left;
    }

    @media (min-width: $breakpointDesktop) {
      margin: 0 5%;
    }
  }

  &__list-item {
    list-style: none;
    padding-bottom: 10px;

    a {
      margin: 0;
      margin-left: 0;
      font-family: $fontRoboto;
      font-size: .9rem;

      &:hover {
        font-style: italic;
      }
    }
  }

  &__header:after {
    content: "";
    width: $fullWidthComponent;
    clear: left;
    display: block;
    border-top: 1px solid #000;
    margin: 7px 0;
  
    @media (min-width: $breakpointTablet) {
      width: 58px;
    }
  }

  &__col-small {
    width: $fullWidthComponent;

    @media (min-width: $breakpointTablet) {
      width: 146px;
    }
  }

  &__right-col {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;

    @include display-flex;
  
    @include flex-direction-column;

    @include flex-align-center;

    @media (min-width: $breakpointTablet) {
      -webkit-box-ordinal-group: 0;
      -ms-flex-order: 0;
      order: 0;

      @include flex-align-left;
    }

    .signup-form {
      width: $fullWidthComponent;
      margin-bottom: 40px;
    
      @media (min-width: $breakpointTablet) {
        width: 373px;
      }

      &__input[type=text] {
        width: 229px;
        min-width: 180px;
        padding: 15px;
        display: inline-block;
        border: 0;
        background: #f1f1f1;
    
        @media (min-width: $breakpointTablet) {
          width: 270px;
        }
      }

      &__btn {
        width: 79px;
        display: inline-block;
        padding: 12px;
        background-color: $backgroundButton;
        border: 0;
        color: $fontColorWhite;
        text-decoration: none;
        font-size: .9rem;
        margin: 4px 2px;
        cursor: pointer;

        @include text-align-center;
    
        @media (min-width: $breakpointTablet) {
          width: 94px;
        }

        &:active {
          color: $fontColorBlack;
        }
      }
    }
  
    .social {
      width: $fullWidthComponent;

      @media (min-width: $breakpointTablet) {
        width: 146px;
      }

      &__list-item {
        display: inline-block;
      }
    
      a {
        font-size: 1.8rem;
        padding: 0 15px;
        margin: 0;

        @media (min-width: $breakpointTablet) {
          font-size: 1.4rem;
          margin-right: 25px;
          padding: 0;
        }
      }
    }
  }
}
