@import "../common/mixins","../common/constants";

main {
  margin-top: 40px;
}
  
.product-row {
  width: $fullWidthComponent;
  padding: 0 30px 40px;
  overflow: hidden;
  
  @include border-box;
  
  @include display-flex;
  
  @media (max-width: $breakpointDesktop) {
    @include flex-direction-column;
  
    @include flex-align-center;
  }
  
  &__container {
    width: $fullWidthComponent;
    max-width: 1250px;
    margin: auto;
    
    @include display-flex;
  
    @media (max-width: $breakpointDesktop) {
      width: $fullWidthComponent;
    
      @include flex-direction-column;
    }
  }
}
  
.product-img {
  width: $fullWidthComponent * .5;
  
  @media (max-width: $breakpointTablet) {
    width: $fullWidthComponent;
  }
  
  @media (max-width: $breakpointDesktop) {
    width: $fullWidthComponent;
  
    @include flex-direction-column;
  }
  
  &__wrap {
    width: $fullWidthComponent;

    @include text-align-center;
  
    img {
      width: $fullWidthComponent;
    }
  }
  
  .img-container {
    overflow: hidden;
    width: $fullWidthComponent;
    max-width: 480px;
    margin: auto;
  }
  
  &__center {
    max-width: 480px;
  }
}
  
.zoom img:hover {
  cursor: zoom-in;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}
  
.product-specs {
  width: 485px;
  padding: 0 5% 40px;
  margin: auto;
  
  @media (max-width: $breakpointDesktop) {
    width: $fullWidthComponent;
    padding: 40px 0 0;
  }

  &:nth-child(1) {
    @media (max-width: $breakpointDesktop) {
      padding: 0 0 40px;
    }
  }
  
  &__text {
    width: $fullWidthComponent;
    max-width: 480px;
    margin: auto;
    
    .product-brand {
      font-weight: $fontBold;
      font-size: 2.3rem;
      padding-bottom: .3em;
  
      :hover {
        font-style: italic;
      }
    }
  
    .product-title {
      font-size: 1.2rem;
      line-height: 1.5rem;
      padding-bottom: 1rem;
    }
  
    .product-price {
      font-weight: $fontBold;
      font-size: 1.2rem;
    }
  
    .product-shop {
      position: relative;
      padding-top: 15px;

      @include display-flex;

      @media (max-width: $breakpointTablet) {
        @include flex-direction-column;
      }
  
      .selector {
        margin-right: 11px;
  
        .title-select {
          margin: 15px 0;
        }
  
        h3 {
          padding-bottom: 0;
        }
      }
  
      .product-select {
        min-width: 116px;
        position: relative;
  
        &:after {
          content: "";
          position: absolute;
          right: 6px;
          top: 12px;
          z-index: 10;
          width: 0;
          height: 100%;
          border-left: solid 5px transparent;
          border-right: solid 5px transparent;
          border-bottom: solid 1px transparent;
          border-top: solid 5px #656565;
        }
      }
    }

    .add-to-bag {
      width: $fullWidthComponent;
      max-width: 207px;
      margin-top: 20px;
    }

    .add-to-bag__button {
      background-color: $backgroungColorBlack;
      border: 0;
      width: $fullWidthComponent;
      color: $fontColorWhite;
      padding: 15px 32px;
      text-decoration: none;
      font-size: .9rem;
      margin: 4px 2px;
      cursor: pointer;
      outline: none; 

      @include text-align-center;

      &:active {
        color: $fontColorBlack;
      }
    }
  }
}
  
.full {
  max-width: 1920px;
  padding: 0 0 40px;
  margin: auto;
  
  .product-img-large__container {
    width: $fullWidthComponent;
    overflow: hidden;
  
    img {
      width: $fullWidthComponent;
    }
  }
}
  
.description {
  
  &__title {
    font-weight: $fontBold;
  }
  
  &__list-item {
    list-style: none;
    font-size: .9rem;
    line-height: 1.35rem;
  }
}
  
.center {
  width: $fullWidthComponent;
  
  @include text-align-center;
}
