$breakpointLargeDesktop: 1440px;
$breakpointDesktop: 980px;
$breakpointTablet: 680px;

$fontRoboto: "Roboto", sans-serif;
$fontMontserrat: "Montserrat", sans-serif;

$fontColorBlack: #000;
$fontColorWhite: #FFF;

$backgroundGlobal: #FFF;
$backgroungButton: #000;

$fullWidthComponent: 100%;

$fontBold: 700;
