@mixin display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@mixin flex-align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@mixin flex-align-left {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
}

@mixin flex-direction-column {
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
}

@mixin flex-direction-row {
  -webkit-box-orient: horizontal;
  -ms-flex-direction: row;
  flex-direction: row;
}

@mixin flex-wrap {
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}

@mixin border-box {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin text-align-center {
  text-align: center;
}
